# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/

.env


# IDE / editor files
*.swp
*.swo
.idea/
.vscode/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Ignore git files
.git
.gitignore
